@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400,700&display=swap");

:root {
  /* primary-colour */
  --primary-Orange: hsl(26, 100%, 55%);
  --primary-Pale-orange: hsl(25, 100%, 94%);

  /* Neutral colour */

  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: (with 75% opacity for lightbox background) hsl(0, 0%, 0%);

  --line-height: 2rem;
  --word-spacing: 0.2rem;
  --box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  --transition: all 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.2rem;
}

p {
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.product-button {
  display: inline-block;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  height: 100vh;
}

/* img {
  display: block;
  object-fit: fill;
} */

.menu-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-right .input {
  padding-right: 1.5rem;
}

.menu-right .input #input {
  outline: none;
  border: none;
  border: 0.3rem solid var(--Light-grayish-blue);
  border-radius: 5px;
  padding-right: 2rem;
}

.image-avatar {
  height: 2rem;
  padding-left: 2rem;
}

.cart-header {
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

.cart-image {
  height: 1.5rem;
}

.cart-header .cart-number {
  position: absolute;
  top: -0.3rem;
  right: 2rem;
  width: 0px;
  height: 5px;
  background: red;
  border-radius: 50%;
  display: none;
  color: red;
  font-size: 0.75rem;
}

.menu {
  padding-right: 2rem;
  cursor: pointer;
}

.header-container {
  position: fixed;
  width: 100%;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: var(--White);
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 85%;
  height: 100%;
  background: var(--White);
  box-shadow: var(--box-shadow);
  z-index: 5;
  display: grid;
  /* place-items: center; */
  transform: translateX(100%);
}

.close-btn {
  position: absolute;
  top: 0;
  left: 7rem;
  background: transparent;
  border: none;
  color: var(--primary-blue-cl);
  font-size: 3rem;
  cursor: pointer;
  transition: var(--transition);
}

.close-btn:hover {
  color: var(--primary-Orange);
}

.bar-links {
  padding-top: 5rem;
  padding-left: 8rem;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  background: var(--White);
  box-shadow: var(--box-shadow);
  z-index: 5;
  overflow: auto;
  transition: all 0.5s ease-in-out;
  display: grid;
  transform: translateX(235%);
}

.title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--White);
  box-shadow: var(--box-shadow);
  height: 6rem;
}
.cart-title {
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--Dark-grayish-blue);
}

.close-cart {
  background: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
  padding-right: 2rem;
  transition: var(--transition);
}

.close-cart:hover {
  color: var(--primary-Orange);
}

.cart-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* padding: 1rem 1rem; */
  /* width: 5rem; */
}

.cart-text {
  padding: 0 1rem;
}

.text-cart {
  font-size: 1rem;
  color: var(--Very-dark-blue);
  padding: 1rem;
}

.cart-price,
.dolla {
  padding-top: 0.3rem;
  font-size: 1.2rem;
  color: var(--Dark-grayish-blue);
  font-weight: bold;
}

.cart-amount {
  font-size: 1.2rem;
  color: var(--Dark-grayish-blue);
  font-weight: bold;
}

.cart-amount span {
  padding: 0.5rem;
  border-radius: 50%;
  background: var(--Light-grayish-blue);
}

.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  width: 50%;
  outline: none;
  border: none;
  border-radius: 0.75rem;
  background: var(--primary-Orange);
  color: var(--White);
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.cart-btn:hover {
  background: var(--primary-Pale-orange);
  color: var(--primary-Orange);
}

.total-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-total {
  color: var(--Very-dark-blue);
  padding-right: 1rem;
  font-weight: bold;
}

.cart-name {
  font-size: 1rem;
  color: var(--Dark-grayish-blue);
}

.delete-btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--Dark-grayish-blue);
  font-size: 1.5rem;
  transition: var(--transition);
}

.bar {
  display: block;
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--Dark-grayish-blue);
  transition: var(--transition);
}
.bar:hover {
  color: var(--secondary-blue-cl);
  border-left: var(--secondary-blue-cl) solid 0.5rem;
  border-right: var(--secondary-blue-cl) solid 0.5rem;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 4;
  transition: all 0.2s;
}

.nav-links {
  display: none;
}
.nav-links a {
  color: var(--Dark-grayish-blue);
}
.nav-links a:hover {
  color: var(--Very-dark-blue);
}

/* @media screen and (min-width: 600) {
  .cart {
    position: fixed;
    top: 0;
    left: -100%;
    width: 75%;
    height: 100%;
    background: var(--White);
    box-shadow: var(--box-shadow);
    z-index: 5;
  
  }
  .active {
    left: 25%;
  }
} */

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: left;
  }
  li a {
    padding: 0.5rem;
  }

  .menu-left {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .cart-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
  }

  .cart-name {
    width: 5rem;
  }

  /* .cart {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: var(--White);
    box-shadow: var(--box-shadow);
    z-index: 5;
 
  }
  .active {
    left: 50%;
  } */
}

/* section-1 */

.slider {
  position: relative;
  height: 35rem;
  max-width: 50rem;
}
.product-preview {
  position: absolute;
  top: 5rem;
  height: 45rem;
  width: 40.4rem;
  padding-bottom: 5rem;
}
.product-1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-info {
  padding: 2rem;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 2;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: var(--White);
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 2.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 7%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 7%;
  transform: translate(50%, -50%);
}

.title {
  text-transform: uppercase;
  font-weight: lighter;
  font-family: inherit;
  color: var(--Dark-grayish-blue);
  padding-bottom: 1.5rem;
}

.sub-title {
  text-transform: capitalize;
  padding-bottom: 1.5rem;
}

.text {
  line-height: var(--line-height);
  width: 100%;
  color: var(--Grayish-blue);
  word-spacing: var(--word-spacing);
}

.sale-amount {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.amount-right {
  display: flex;
  font-weight: bold;
  font-size: 1.3rem;
}

.amount-percentage {
  padding: 0.45rem;
  margin-left: 1rem;
  border-radius: 15%;
  background: var(--Very-dark-blue);
  color: var(--White);
  font-size: 0.75rem;
}

/* .dolla  {
  padding-top: 0.2rem;
} */

.right-thick {
  font-weight: bolder;
  font-size: 1.3rem;
}

.left-thick {
  color: var(--Dark-grayish-blue);
  font-size: 0.75rem;
  font-weight: bold;
}

.add-minus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background: var(--Light-grayish-blue);
  border-radius: 0.75rem;
  margin: 1rem 2rem;
}

.add {
  height: 0.5rem;
  cursor: pointer;
}

.minus {
  height: 0.2rem;
  width: 1rem;
  cursor: pointer;
}

.btn {
  background: none;
  outline: none;
  border: none;
}

.add-btn {
  display: flex;
  justify-content: center;
}

.text-btn {
  color: var(--Very-dark-blue);
}

.add-btn {
  background: var(--primary-Orange);
  border-radius: 0.75rem;
  margin: 1rem 2rem;
}
.btn-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  outline: none;
  border: none;
  background: none;
  color: var(--Very-dark-blue);
}

.btn-cart {
  padding-right: 0.5rem;
}

.preview-slide {
  display: none;
}

@media screen and (min-width: 768px) {
  .slider {
    position: relative;
    width: 100%;
    /* height: 45rem; */
  }
  .product-preview {
    position: absolute;
    top: 0;
    width: 50rem;
  }

  .product-1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* .cart {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: var(--White);
    box-shadow: var(--box-shadow);
    z-index: 5;
   
  }
  .active {
    left: 50%;
  } */
}

@media screen and (min-width: 1200px) {
  .main-page-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
    margin: 1rem auto;
    max-width: 1170px;
  }
  .header-container {
    padding: 2rem;
    position: static;
    top: 0;
    width: 100%;
  }

  .slider {
    display: none;
    position: relative;
    width: 35rem;
    /* height: 45rem; */
  }

  .slider__btn {
    display: none;
  }

  .product-preview {
    position: absolute;
    top: 0;
    width: 50rem;
  }

  .product-1 {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 2rem;
  }

  .title {
    font-size: 0.75rem;
  }
  .sub-title {
    font-size: 1.5rem;
  }

  .text {
    width: 70%;
  }

  .sale-amount {
    display: block;
  }

  .body-cart {
    display: inline-flex;
  }

  .add-minus {
    padding-right: 2rem;
  }

  .minus {
    margin-right: 2rem;
  }

  .add {
    padding-left: 2rem;
  }

  .add-btn {
    padding: 0 3rem;
  }

  .preview-slide {
    display: block;
  }

  .thumbnail-image {
    display: flex;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
    padding-right: 4rem;
    padding-top: 1rem;
  }

  .product-show {
    margin-right: 1rem;
  }

  .thumbnail {
    outline: none;
    border-radius: 8%;
  }

  .active {
    border: 2px solid var(--primary-Orange);
    opacity: 0.5;
  }

  /* .cart {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: var(--White);
    box-shadow: var(--box-shadow);
    z-index: 5;
  
  }
  .active {
    left: 50%;
  } */
}
/* @media screen and (min-width: 1200px) {
  .cart {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: var(--White);
    box-shadow: var(--box-shadow);
    z-index: 5;
    
  }
  .active {
    left: 50%;
  }
} */
